<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="RevitCommandRunner"
    Manufacturer="DIAL"
    Version="1.0.0.0"
    UpgradeCode="7C46B670-3802-4B96-83B5-5970C5C7A0B9"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of RevitCommandRunner is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="RevitCommandRunner" Level="1">
      <ComponentGroupRef Id="RevitCommandRunnerComponents" />
    </Feature>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskFolder" Name="Autodesk">
        <Directory Id="RevitFolder" Name="Revit">
          <Directory Id="AddinsFolder" Name="Addins">
            <Directory Id="Revit2021Folder" Name="2021" />
            <Directory Id="Revit2022Folder" Name="2022" />
            <Directory Id="Revit2023Folder" Name="2023" />
            <Directory Id="Revit2024Folder" Name="2024" />
            <Directory Id="Revit2025Folder" Name="2025" />
            <Directory Id="Revit2026Folder" Name="2026" />
            <Directory Id="Revit2027Folder" Name="2027" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="RevitCommandRunnerComponents">
      <Component Id="Revit2021Component" Directory="Revit2021Folder" Guid="1F6F4F50-D406-46D1-AF49-40234A886421">
        <File Source="$(var.BundleDir)\Contents\2021\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2021\RevitCommandRunner.pdb" />
        <File Source="$(var.BundleDir)\Contents\2021\Newtonsoft.Json.dll" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2022Component" Directory="Revit2022Folder" Guid="BC9B7C2C-8574-4F8E-8351-216BB4112D33">
        <File Source="$(var.BundleDir)\Contents\2022\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2022\RevitCommandRunner.pdb" />
        <File Source="$(var.BundleDir)\Contents\2022\Newtonsoft.Json.dll" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2023Component" Directory="Revit2023Folder" Guid="C06D1C60-764A-43C8-91F3-957B8C75FE93">
        <File Source="$(var.BundleDir)\Contents\2023\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2023\RevitCommandRunner.pdb" />
        <File Source="$(var.BundleDir)\Contents\2023\Newtonsoft.Json.dll" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2024Component" Directory="Revit2024Folder" Guid="20E72913-D144-4112-82BD-A6F8E8505CC9">
        <File Source="$(var.BundleDir)\Contents\2024\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2024\RevitCommandRunner.pdb" />
        <File Source="$(var.BundleDir)\Contents\2024\Newtonsoft.Json.dll" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2025Component" Directory="Revit2025Folder" Guid="14C3D7E9-E77E-442C-85A8-7E73D37D0895">
        <File Source="$(var.BundleDir)\Contents\2025\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2025\RevitCommandRunner.pdb" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2026Component" Directory="Revit2026Folder" Guid="4D34D0A3-6790-4E92-A124-2D7C0215F3F3">
        <File Source="$(var.BundleDir)\Contents\2026\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2026\RevitCommandRunner.pdb" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>

      <Component Id="Revit2027Component" Directory="Revit2027Folder" Guid="FE3E9AE4-D9C9-4D8D-9B19-B950C390DBE5">
        <File Source="$(var.BundleDir)\Contents\2027\RevitCommandRunner.dll" KeyPath="yes" />
        <File Source="$(var.BundleDir)\Contents\2027\RevitCommandRunner.pdb" />
        <File Source="$(var.ManifestPath)" Name="RevitCommandRunner.addin" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
